server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service-users
          uri: lb://user-service
          predicates:
            - Path=/v1/users/**
          filters:
            - StripPrefix=1
        - id: user-service-auth
          uri: lb://user-service
          predicates:
            - Path=/v1/auth/**
          filters:
            - StripPrefix=1
        - id: event-service
          uri: lb://event-service
          predicates:
            - Path=/v1/events/**
          filters:
            - StripPrefix=1
        - id: reservation-service
          uri: lb://reservation-service
          predicates:
            - Path=/v1/reservations/**
          filters:
            - StripPrefix=1
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/v1/payments/**
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/v1/notifications/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,refresh
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    com.eventplatform: INFO
